<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week3楊紫軒</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1 style="align:center">Is my Homework 3!</h1>

    </h2>
    <p id="ta">by B06208027<br></p>
    <div id="container">
        <div id="content">
		{%for my in mine%}
            <div class="msg">
		    <span class="name">{{my.name}}</span>
		{{my.msg}}

            </div>
	{%endfor%}
	</div>
        <div id="send-box">
            <form id="send-form">
                <input type="text" name="name" id="name" placeholder="暱稱">
                <input type="text" name="msg" id="msg" placeholder="說點什麼？">
                <input type="submit" id="submit" value="送出">
            </form>
            <span id='ps'>FAKEXDDD</span>
        </div>
    </div>
</body>

</html>
